.page {
  min-height: 100%;
  font-family: $font-family;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.page.lock {
  overflow: hidden;
}
